<div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLink='/' class="ui item" id="ang">Angular Email</a>
        <div class="right menu">
            <ng-container *ngIf="signedIn">
                <a class="ui item" routerLink="/inbox" routerLinkActive="active">
                Inbox
                </a>
                <a class="ui item" routerLink="/signout" routerLinkActive="active">
                Sign Out
                </a>
            </ng-container>
            <ng-container *ngIf="!signedIn">
                <a class="ui item" routerLink="/"  [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">
                Sign In
                </a>
                <a class="ui item" routerLink="/signup" routerLinkActive="active">
                Sign Up
                </a>
        </ng-container>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>

<div class="ui inverted vertical footer segment">
    <div style="background-color: black;" class="ui container">
        &copy; Robert Dominato 2020
        <span style="color: yellow">Note: You may need to allow cross-site tracking for this app to function correctly</span>
    </div>
</div>